.appinfo-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 600px;
}
.appinfo-box {
  margin: 0 164px 0 164px;
}
.appinfo-rating {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 18px;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  justify-content: center;
}
.rating-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.rating-text {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-bottom: 8px;
}
.app-rating {
  display: flex;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bolder;
  align-items: center;
}
.app-owner {
  font-size: 16px;
  font-family: "Helvetica";
  margin-top: 24px;
  font-weight: 600;
}
.appinfo-info {
  display: flex;
  flex-direction: row;
  line-height: 1.2;
}
.appinfo-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 3.5rem;
  color: var(--text-color);
  /* margin-bottom: 0.5rem; */
}
.debug-image {
  display: flex;
  margin-left: auto;
}
.appinfo-right {
  margin-left: auto;
  margin-right: 64px;
}
.download-wishlist {
  display: flex;
  flex-direction: row;
}
.download-btn {
  background-color: var(--hg-color);
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  padding: 16px;
  gap: 5px;
  justify-content: center;
  width: 200px;
  transition: 0.3s;
}
.download-btn:hover {
  background-color: var(--hg-color-hover);
}
.download-text {
  font-size: 16px;
}
.additional-area {
  display: flex;
  flex-direction: column;
}
.compatibility-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
}
.compatiblity-text {
  font-size: 12px;
  font-weight: lighter;
  color: #333;
  font-family: "Helvetica", sans-serif;
}
.wishlist-btn {
  color: #bbb;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  cursor: not-allowed;
  padding: 16px;
  gap: 5px;
  justify-content: center;
  width: 200px;
}
.wishlist-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}
.another-area {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .appinfo-box {
    margin: 0 0px 0 0px;
  }
  .appinfo-title {
    font-size: 1.5rem;
  }
  .appinfo-right {
    width: 128px;
    height: 128px;
  }
  .download-btn {
    width: 50%;
    height: 50px;
  }
  .wishlist-btn {
    width: 50%;
    height: 50px;
  }
  .appinfo-image {
    width: 128px;
    height: 128px;
  }
  .wishlist-text {
    font-size: 12px;
  }
  .another-area {
    gap: 24px;
    flex-direction: column;
  }
}
