.appInfo-container {
  display: flex;
  flex-direction: column;
  margin: 0 164px 0 164px;
  width: 900px;
}
.appInfo-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.appInfo-left-child {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 12px;
}
.appName {
  font-family: var(--font-serif);
  font-size: 3.5rem;
  line-height: 1.2;
  color: var(--text-color);
}
.appPublisher {
  font-family: var(--font-serif);
  font-size: 16px;
  font-weight: 600;
}
.appIconMobile {
  width: 256px;
  height: 256px;
  display: none;
}
.appData-area {
  display: flex;
  flex-direction: column;
}
.DownloadBtn {
  background-color: var(--hg-color);
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  gap: 5px;
  justify-content: center;
  width: 200px;
  height: 50px;
  transition: 0.3s;
}
.DownloadBtn:hover {
  background-color: var(--hg-color-hover);
}
.DownloadBtn-text {
  font-size: 16px;
}

.div-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

@media (max-width: 768px) {
  .appInfo-container {
    margin: 0;
    width: 100%;
    padding: 12px;
  }
  .appName {
    font-size: 1.5rem;
  }
  .appIconMobile {
    display: block;
    width: 128px;
    height: 128px;
  }
}
