.newfeature-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 178, 203, 0.1);
  width: 100%;
  padding: 16px;
  border-radius: 10px;
}
.newfeature-types {
  display: flex;
  flex-direction: column;
}
.newfeature-title {
  font-family: var(--font-serif);
  font-size: 12px;
  color: rgb(0, 178, 203, 0.9);
}
.newfeature-version {
  font-family: var(--font-serif);
  font-size: 12px;
  color: rgb(0, 178, 203);
}
.newfeature-update {
  font-family: var(--font-regular);
  color: rgb(0, 178, 203, 0.9);
  font-size: 14px;
  white-space: pre;
  line-break: anywhere;
}

@media (max-width: 768px) {
  .newfeature-container {
    width: 100%;
  }
  .newfeature-update {
    font-size: 12px;
  }
}
