.appimage-container {
  display: flex;
  border-radius: 25px;
  align-items: center;
  width: 950px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.appimage-box {
  display: flex;
  gap: 12px;
  flex-direction: row;
}
.app-image {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .appimage-container {
    display: flex;
    border-radius: 25px;
    width: 100%;
  }
  .app-image {
    border-radius: 10px;
  }
}
