.rating {
  display: flex;
  flex-direction: row;
}
.rating-stars {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-right: auto;
  margin-top: 36px;
}
.stars {
  width: 150px;
  line-height: 1;
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}
.star-text {
  font-size: 16px;
  font-family: var(--font-serif);
  color: #000000;
  font-weight: 600;
  margin-bottom: 5px;
}
.star-subtext {
  font-size: 16px;
  font-family: var(--font-regular);
  color: rgb(0, 0, 0, 0.7);
  font-weight: 500;
}
.downloads {
  width: 150px;
  line-height: 1;
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}
.downloads-text {
  font-size: 16px;
  font-family: var(--font-serif);
  color: #000000;
  font-weight: 600;
  margin-bottom: 5px;
}
.downloads-subtext {
  font-size: 16px;
  font-family: var(--font-regular);
  color: rgb(0, 0, 0, 0.7);
  font-weight: 500;
}
.suggestions {
  width: 150px;
  line-height: 1.05;
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}
.suggestions-icon {
  width: 16px;
  height: 16px;
}
.suggestions-subtext {
  font-size: 16px;
  font-family: var(--font-regular);
  color: rgb(0, 0, 0, 0.7);
  font-weight: 500;
}

@media (max-width: 768px) {
  .stars {
    width: 75px;
  }
  .downloads {
    width: 75px;
  }
  .suggestions {
    width: 80px;
  }
  .star-text {
    font-size: 12px;
  }
  .star-subtext {
    font-size: 12px;
  }
  .downloads-text {
    font-size: 12px;
  }
  .downloads-subtext {
    font-size: 12px;
  }
  .suggestions-subtext {
    font-size: 12px;
  }
  .suggestions-icon {
    width: 12px;
    height: 12px;
  }
}
