
.contact-container {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 12px;
  align-items: center;
}
.contact-arrow {
  margin-left: auto;
  cursor: pointer;
}
.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.contact-type {
  display: flex;
  padding: 12px;
  background-color: rgb(0, 0, 0, 0.02);
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: var(--transition);
}
.contact-type:hover {
  border-radius: 25px;
  background-color: rgb(0, 0, 0, 0.04);
}
.contact-types {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact-title {
  font-family: var(--font-regular);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 6px;
  color: #333;
}
.contact-text {
  font-family: var(--font-serif);
  font-size: 14px;
  line-height: 1.2;
}
.contact-subtext {
  font-family: var(--font-regular);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.contact-icon {
  display: flex;
  flex-direction: column;
justify-content: center;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
  }
}
