@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  --bg-theme-color: #1e1e1e;
  --hg-color: #00b2cb;
  --hg-btn-color: #00a1b9;
  --hg-color-hover: #00a1b9;
  --transition: 0.3s;
  --text-color: rgb(255, 255, 255, 1.0);
  --low-text-color: rgb(255, 255, 255, 0.8);
  --font-highlight: "Inter";
  --font-highlight-weight: bold;
  --font-regular-weight: 400;
}

*:hover {
  transition: var(--transition);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: none;
  list-style-type: none;
  scrollbar-width: auto;
  scrollbar-color: var(--hg-color) #ffffff;
  -webkit-user-drag: none;
}
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--hg-color);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: var(--bg-theme-color);
}

button {
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
