@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");

:root {
  --hg-color: #00b2cb;
  --hg-color-hover: #00a1b9;
  --transition: 0.3s;
  --font-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-regular: "Helvetica 45 Light", sans-serif;
  --text-color: rgb(0, 0, 0, 0.8);
}

*:hover {
  transition: var(--transition);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: none;
  list-style-type: none;
  scrollbar-width: auto;
  scrollbar-color: var(--hg-color) #ffffff;
}
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--hg-color);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

button {
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
