.bottomBar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 900px;
    margin-top: 100px;
    padding-bottom: 50px;
    margin-left: 128px;
}
.bottomBar-title {
    font-family: var(--font-highlight);
    color: var(--text-color);
    font-size: 12px;
}
.bottomBar-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}
.bottomBar-child {
    font-family: var(--font-highlight);
    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent;
}
.bottomBar-child:hover {
    border-bottom: 1px solid #f5f5f5;
    border-radius: 2px;
    transition: 0.3s;
}
.bottomBar-row-box {
    display: flex;
    flex-direction: row;
    gap: 124px;
    margin-bottom: 24px;
}
.bottomBar-column-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.bottomBar-lang {
    font-family: var(--font-highlight);
    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
}
.bottomBar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

@media screen and (max-width: 768px) {
    .bottomBar-container {
        width: 100%;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
    .bottomBar-row-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 24px;
    }
    .bottomBar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }
    .bottomBar-logo {
        justify-content: center;
    }
}