.bottomBar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 900px;
    margin-top: 100px;
    padding-bottom: 50px;
}
.bottomBar-title {
    font-family: var(--font-serif);
    font-size: 12px;
}
.bottomBar-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}
.bottomBar-child {
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent;
}
.bottomBar-child:hover {
    border-bottom: 1px solid #333;
    transition: 0.3s;
}
.bottomBar-row-box {
    display: flex;
    flex-direction: row;
    gap: 124px;
    margin-bottom: 24px;
}
.bottomBar-column-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.bottomBar-lang {
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
}
@media (max-width: 768px) {
    .bottomBar-container {
        margin-left: 0;
        width: 100%;
        padding: 12px;
        align-items: center;
        text-align: center;
    }
    .bottomBar-row-box {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
    }
}