.bottomBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 64px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.bottomBar-title {
    font-family: var(--font-serif);
    font-size: 12px;
}
.bottomBar-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}
.bottomBar-child {
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent
}
.bottomBar-child:hover {
    border-bottom: 1px solid #333;
    transition: 0.3s;
}

@media(min-width: 767px) {
    .bottomBar-container {
        justify-content: flex-start;
        padding-left: 10rem;
    }
}